 /* body{
    overflow-x: hidden;

    
 } */
 
.body{
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(0,0,0,0.2);
    color : white
    
}

.body{
    background: url(./assets/musik.jpg) no-repeat center center/cover;
    position:absolute;
    width: 100%;
    height: 100;
    top:0;
    left: 0;
    z-index: -1;
    position: absolute;
}

.myartists{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 10px;
  border: 1px;
  border-radius: 25px;
  color: white;
  font-size: 20px;
}

.myalbum {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    margin-right: 20px;
    color: white;
    font-size: 20px; 
  }
  .mainDisplay{
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: url(./assets/musik.jpg);
    background-repeat: repeat;
    background-size: center/cover;

    overflow-y: scroll;
    scrollbar-width: thin;
  }

  .img-track{
    border-radius: 10px 10px 0 0;
    margin-left: 10px;
    border: 1px solid black;
  }


  .nomArttist{
    margin-top: -10px;
    background: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur(10px); 
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 0px 0px 10px 10px;
    height: 50px;
    
  }

  .userInfo{
    display: flex;
    gap: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
  }
  .userIcon,
  .userLogout{
    width: 30px;
    height: 30px;
    border: 1px;
    border-radius: 50%;
  }

  .userName{
    font-size: 13px;
  }

